@tailwind base;
@tailwind components;
@tailwind utilities;

$general-background: #100b20;
$white: #ffffff;
$purple-1: #903aff;
$main-purple: #d434fe;
$blue: #00a3ff;
$red: #ff0000;
$weight: 700;
$button-gradient: linear-gradient(276deg, #903aff 0%, #d434fe 61%);
$background-gradient: radial-gradient(#440981 9%, #100b20 35%);
$background-gradient2: radial-gradient(#440981 32%, #100b20 64%);
$background-gradient3: linear-gradient(34deg, #100b20 70%, #7609dc 102%);
$background-gradient4: linear-gradient(320deg, #7609dc 0%, #100b20 32%);
$background-gradient5: linear-gradient(150deg, #7609dc 0%, #100b20 32%);
$background-gradient6: linear-gradient(214deg, #100b20 77%, #7609dc 101%);
$morph: -2px 47px 100px 100px #150e29 inset, -30px 33px 100px 4px #000000;
$fs-1: 36px;
$fs-2: 16px;
$fs-3: 80px;
$fs-4: 20px;
$fs-5: 32px;
$fs-6: 64px;
$fs-7: 48px;
$fs-8: 14px;
$fs-9: 20px;
$fs-10: 12px;
$fs-11: 24px;
$fs-12: 51px;
$fs-13: 27.5px;

@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets//fonts//Montserrat/Montserrat-Light.ttf") format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("ttf");
  font-style: italic;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("ttf");
  font-weight: $weight;
}

@font-face {
  font-family: "Oswald-Light";
  src: url("../assets/fonts/Oswald/Oswald-Light.ttf") format("ttf");
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url("../assets/fonts/Oswald/Oswald-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Unica One";
  src: url("../assets/fonts/Unica\ one/") format("ttf");
}
