@import "./mixins.scss";
@import "./App.scss";

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: $general-background;
  color: $white;
  font-family: "Montserrat-Light", sans-serif;
  overflow-x: hidden;
}

.button {
  @include button-color;
  width: 172px;
  border-radius: 4px;
  padding: 0.4rem 0%;
}
.wrapper {
  padding: 0 3rem !important;
  height: 100%;
}

.successful {
  position: fixed;
  background: rgba(21, 14, 40, 0.93);
  z-index: 10;
  width: 100vw;
  height: 200vh;
  .success-check-container {
    position: absolute;
    top: 40vh;
    h1 {
      font-size: $fs-5;
    }
  }
}

.header {
  border-bottom: 1px solid $white;
  padding: 0 3rem !important;
}

.active-link {
  @include gradient-util;
}

.nav-button {
  @include gradient-util;
}

.no-page {
  .head {
    @include gradient-util;
  }
}

.navigation-container {
  .brand-text {
    font-size: $fs-1;
    font-family: "Oswald-Bold", sans-serif;
    font-weight: $weight;
  }
  .navigations {
    font-size: $fs-2;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
}

.colored-text {
  @include text-colored;
}

.blue-text {
  color: $blue;
}

.colored-text-2 {
  color: $purple-1;
}

.border-right {
  border-right: 2px solid $main-purple;
}

.border-bottom {
  border-bottom: 4px solid $main-purple;
}

.border {
  border-radius: 50%;
  border: 2px solid transparent;
  border-image: $button-gradient;
  border-image-slice: 1;
}

.circle-general,
.circle-mobile,
.circle-mobile-x {
  @include button-color;
}

.circle-mobile {
  visibility: hidden;
}

.circle-mobile-x {
  display: none;
}

.section-4-items {
  .box-1 {
    background: $background-gradient2;
    position: relative;
    .ellipsis-position {
      position: absolute;
      top: -8%;
      left: 2%;
    }
  }
  .box-2 {
    h1 {
      font-size: $fs-5;
      font-family: "Oswald-Bold", sans-serif;
      font-weight: 700;
    }
    .paragraph-container {
      p {
        font-size: $fs-2;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        line-height: 27.76px;
      }
    }
  }
}

.section-3-items {
  .box-1 {
    background: $background-gradient2;
  }
  .box-2 {
    background: $background-gradient2;
  }
}
.section-1-items {
  height: 80vh;
  font-family: "Oswald-Bold", sans-serif;
  background: $background-gradient;
  h1 {
    font-size: $fs-1;
    font-weight: 700;
  }
  .box-1 {
    .section-1-header {
      font-family: "Oswald-Bold", sans-serif;
      font-size: $fs-3;
      font-weight: 700;
      line-height: 98.4px;
    }
    p {
      font-size: $fs-4;
    }

    .time {
      font-family: "Unica One", cursive !important;
      h1 {
        font-size: $fs-6;
      }
      span {
        font-size: 1rem;
      }
    }
  }
  .box-2 {
    // position: relative;
    .image-con-1,
    .image-con-2 {
      position: absolute;
    }
  }

  .creative-position {
    top: -10%;
    left: 39%;
  }

  .fire-position {
    top: 28%;
    left: 50%;
  }

  .chain-position {
    top: 25%;
    left: 43%;
  }
}

.section-2-items,
.section-3-items {
  height: 60vh;
  h1 {
    font-size: $fs-5;
    line-height: 42.56px;
    font-family: "Oswald-Bold", sans-serif;
    font-weight: 700;
  }
  p {
    font-size: $fs-8;
    line-height: 27.5px;
  }

  .arrow-position {
    position: absolute;
    left: 42%;
    top: 200vh;
  }
}

.section-5-items {
  .box-1 {
    .some-texts {
      h1 {
        font-size: $fs-5;
        font-weight: 700;
      }
      p {
        font-size: $fs-8;
        line-height: 27.56px;
      }
    }
    .faq-container {
      .faq {
        border-bottom: 2px solid #d434fe;
        .faq-answer {
          p {
            @include gradient-util;
          }
        }
      }
    }
  }
  .box-2 {
    .questions-container {
      position: relative;
      .question-1 {
        position: absolute;
        top: 10%;
        left: 15%;
      }
      .question-2 {
        position: absolute;
        top: -8%;
        left: 30%;
      }
      .question-3 {
        position: absolute;
        top: 2%;
        left: 50%;
      }
    }
  }
}

.section-6-items {
  h1 {
    font-size: $fs-5;
  }
  p {
    font-size: $fs-8;
  }

  .box-2 {
    .annconcement-container {
      .topic {
        h1 {
          font-size: $fs-11;
        }
      }

      .date {
        h1 {
          font-size: $fs-11;
        }
      }
    }
  }
}

.section-7-items {
  background: $background-gradient4;
  .top {
    h1 {
      font-size: $fs-5;
    }
  }

  .container {
    .box-1 {
      background: $background-gradient2;
    }
  }

  .box-2 {
    .award-1,
    .award-2,
    .award-3 {
      position: relative;
      .award-message {
        position: absolute;
        left: 20%;
        top: 7vh;
        .head-1 {
          font-size: $fs-1;
        }
        .head-2 {
          font-size: 22px;
        }
        p {
          font-size: $fs-11;
        }
      }
      .medal {
        position: absolute;
        top: -18vh;
        left: 5%;
      }
    }
  }
}

.section-8-items {
  background: $background-gradient5;
  .top-section {
    h1 {
      font-size: $fs-5;
    }
    p {
      font-size: $fs-8;
    }
  }

  .box-1 {
    border: 1px solid $main-purple;
    background: $background-gradient4;
    .item-bottom {
      .svg-container-2 {
        font-size: $fs-12;
      }
    }
  }
}

.section-9-items {
  background: $background-gradient6;
  .box-1 {
    .text-wrapper {
      h1 {
        font-size: $fs-5;
        font-weight: 700;
      }
      p {
        font-size: $fs-8;
      }
    }

    .texts {
      border: 1px solid $main-purple;
      p {
        font-size: $fs-8;
        text-align: left;
      }
      .head-p {
        font-size: $fs-2;
        text-align: left !important;
        font-weight: 700;
      }
      .list-con {
        list-style: none;
        padding: 0;

        li {
          &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url("../assets/images/list\ terms.svg");
            background-size: cover;
            margin-right: 10px;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .box-2 {
    .image-1 {
      background: $background-gradient3;
    }
  }
}

.footer-section {
  .last-text {
    font-size: $fs-8;
  }
  .footer-content-wrapper {
    .box-1 {
      .top {
        h1 {
          font-size: $fs-11;
          font-weight: 700;
          font-family: "Oswald-Bold", sans-serif;
        }
        p {
          font-size: $fs-8;
        }
      }
      .small-text {
        p {
          font-size: $fs-10;
        }
      }
    }

    .box-2 {
      h1 {
        font-size: $fs-8;
        font-weight: 700;
        font-family: "Oswald-Bold", sans-serif;
      }
      ul > li {
        font-size: $fs-10;
      }
    }

    .box-3 {
      h1 {
        font-size: $fs-8;
        font-weight: 700;
        font-family: "Oswald-Bold", sans-serif;
      }
      .contact-1,
      .contact-2 {
        p {
          font-size: $fs-10;
        }
      }
    }
  }
}

//contact page style rule
.contact-container,
.register {
  background: $background-gradient4;
  .message,
  .image {
    background: $background-gradient2;
    h1 {
      font-size: $fs-5;
      font-family: "Oswald-Bold", sans-serif;
      font-weight: 700;
    }
    p {
      font-size: $fs-2;
    }
    .contact-links {
      p {
        font-size: $fs-2;
      }
    }
  }

  .form {
    background: #ffffff08;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    h1,
    p {
      font-size: $fs-9;
    }
    .form-inputs {
      .input {
        padding: 5% 2%;
        background-color: inherit;
        border-radius: 4px;
        border: 1px solid #fff;
        background: rgba(255, 255, 255, 0.03);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &:focus {
          outline: none;
          &:invalid {
            border: 1px solid red;
            &:valid {
              border: 1px solid #008000;
            }
            &:placeholder-shown(:not(:valid)) {
              border: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}

//register style rule
.register {
  .image {
    border-radius: 50%;
  }
  .form-container {
    background: #ffffff08;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    .box-1 {
      h1 {
        font-size: $fs-5;
      }
      small {
        height: 25px;
        border-bottom: 2px dashed $white;
      }
      .form-inputs-container {
        .review {
          color: #ff26b9;
          margin-bottom: 5%;
          border: none;
          font-style: italic;
        }
        .inputs-container {
          .input-container {
            .input {
              width: 90%;
              margin: 0 5%;
              padding: 5% 2%;
              background-color: inherit;
              border-radius: 4px;
              border: 1px solid #fff;
              background: rgba(255, 255, 255, 0.03);
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              &:focus {
                outline: none;
                &:invalid {
                  border: 1px solid red;
                  &:valid {
                    border: 1px solid #008000;
                  }
                  &:placeholder-shown(:not(:valid)) {
                    border: 1px solid #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .border-right {
    border: none;
  }

  .border-rule {
    border-left: 1px solid $main-purple;
  }

  .circle-general {
    display: none;
  }

  .circle-mobile {
    visibility: visible;
  }
  .circle-mobile-x {
    display: none;
  }

  .navigation-container {
    .hamburger {
      display: none;
    }
  }

  .section-1-items {
    h1 {
      font-size: $fs-2;
    }

    .creative-position {
      top: -18%;
      left: 68%;
    }

    .fire-position {
      top: 40%;
      left: 86%;
    }

    .chain-position {
      top: 35%;
      left: 74%;
    }
  }

  .section-2-items,
  .section-3-items {
    height: auto !important;

    .arrow-position {
      position: absolute;
      left: 48%;
      top: 153%;
      display: none;
    }
  }

  .section-4-items {
    .box-1 {
      .ellipsis-position {
        display: none;
      }
    }
  }

  .section-5-items {
    .box-1 {
      margin-bottom: 20%;
    }
    .box-2 {
      .questions-container {
        position: relative;
      }
    }
  }

  .section-7-items {
    .box-2 {
      .award-1,
      .award-2,
      .award-3 {
        position: relative;
        .award-message {
          position: absolute;
          left: 20%;
          top: 10vh;
          .head-1 {
            font-size: $fs-1;
          }
          .head-2 {
            font-size: 22px;
          }
          p {
            font-size: $fs-11;
          }
        }
        .medal {
          position: absolute;
          top: -10vh;
          left: 5%;
        }
      }
    }
  }

  //contact page responsive style rule
  .contact-container {
    .message {
      display: none;
    }
  }

  //register page responsive style rule
  .register {
    .form-container {
      .box-1 {
        h1 {
          font-size: $fs-5;
        }
        small {
          height: 25px;
          border-bottom: 2px dashed $white;
        }
        .form-inputs-container {
          .inputs-container {
            .input-container {
              .input {
                width: 90%;
                margin: 0 5%;
              }
            }
          }
          .special {
            flex-direction: row;
            width: 100%;
            .input-container {
              width: 50%;
              .input {
                width: 85%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .successful {
    height: 200vh;
    .success-check-container {
      position: absolute;
      top: 20vh;
      h1 {
        font-size: $fs-2;
      }
    }
  }

  .no-page {
    .head {
      font-size: $fs-8;
      @include gradient-util;
    }
  }

  .border-right {
    border: none;
  }

  .border-rule {
    border-left: 1px solid #d434fe;
  }

  .circle-general {
    display: none;
  }

  .circle-mobile {
    display: none;
  }

  .circle-mobile-x {
    display: flex;
  }

  .navigation-container {
    .hamburger {
      display: flex;
    }
    .navigations-mobile {
      flex-direction: column;
      justify-content: center;
      height: 492px;
      padding: 4% 2%;
      position: fixed;
      top: -8%;
      left: 40%;
      background-color: $general-background;
      .links-container {
        flex-direction: column;

        .links {
          margin-bottom: 2%;
        }
      }
    }
  }
  .section-1-items {
    height: auto;
    .box-1 {
      align-items: center;
      justify-content: center;
      .section-1-header {
        font-size: $fs-5;
        line-height: 39.36px;
      }
      p {
        font-size: $fs-4;
      }
      .time {
        font-size: $fs-7;
      }
    }

    .box-2 {
      .image-con-1,
      .image-con-2 {
        top: 100%;
        left: 0;
      }
    }

    .creative-position {
      top: -25%;
      left: 60%;
    }

    .fire-position {
      top: 18%;
      left: 89%;
    }

    .chain-position {
      top: 2%;
      left: 68%;
    }
  }

  .section-2-items,
  .section-3-items {
    height: auto;
    h1 {
      font-size: $fs-9;
    }
    p {
      font-size: $fs-8;
      line-height: 27.5px;
    }

    .arrow-position {
      position: absolute;
      left: 42%;
      top: 122%;
      display: none;
    }
  }

  .section-4-items {
    .box-1 {
      .ellipsis-position {
        display: none;
      }
      .box-2 {
        h1 {
          font-size: $fs-4;
          line-height: 26.6px;
        }
        .paragraph-container {
          p {
            font-size: fs-10;
            line-height: 20.82px;
          }
        }
      }
    }
  }

  .section-5-items {
    .box-1 {
      margin-bottom: 20%;
    }
    .box-2 {
      .questions-container {
        position: relative;
        .question-2 {
          top: -25%;
        }
      }
    }
  }

  .section-6-items {
    h1 {
      font-size: $fs-9;
    }
    p {
      font-size: $fs-8;
    }

    .box-2 {
      .annconcement-container {
        position: relative;
        .topic {
          h1 {
            font-size: $fs-10;
          }
        }

        .date {
          h1 {
            font-size: $fs-10;
          }
        }
      }
    }
  }

  .section-7-items {
    .top {
      h1 {
        font-size: $fs-9;
      }
    }

    .box-2 {
      .award-1,
      .award-2,
      .award-3 {
        position: relative;
        .award-message {
          position: absolute;
          left: 20%;
          top: 3vh;
          margin: 0;
          .head-1 {
            font-size: 10px;
          }
          .head-2 {
            font-size: 10px;
          }
          p {
            font-size: 10px;
          }
        }
        .medal {
          position: absolute;
          top: -7vh;
          z-index: 10;
        }
      }
    }
  }

  .section-8-items {
    .top-section {
      h1 {
        font-size: $fs-9;
      }
      p {
        font-size: $fs-10;
      }
    }

    .box-1 {
      border: 1px solid $main-purple;
      position: relative;
      .item-top {
        .svg-container-1 {
          position: relative;
          .line-1 {
            position: absolute;
            right: 0%;
            top: 0;
          }
        }
      }

      .item-bottom {
        .svg-container-2 {
          font-size: $fs-13;
        }
      }
    }
  }

  .section-9-items {
    flex-wrap: wrap;
    .box-1 {
      .text-wrapper {
        h1 {
          font-size: $fs-4;
        }
        p {
          font-size: $fs-10;
        }
      }

      .texts {
        p {
          font-size: $fs-10;
        }
        .head-p {
          font-size: $fs-8;
        }
      }
    }
  }

  .footer-section {
    .last-text {
      font-size: $fs-10;
    }
    .footer-content-wrapper {
      .box-1 {
        .top {
          h1 {
            font-size: $fs-9;
            font-weight: 700;
            font-family: "Oswald-Bold", sans-serif;
          }
          p {
            font-size: $fs-10;
          }
        }
        .small-text {
          p {
            font-size: $fs-10;
          }
        }
      }

      .box-2 {
        h1 {
          font-size: $fs-9;
          font-weight: 700;
          font-family: "Oswald-Bold", sans-serif;
        }
        ul > li {
          font-size: $fs-10;
        }
      }

      .box-3 {
        h1 {
          font-size: $fs-9;
          font-weight: 700;
          font-family: "Oswald-Bold", sans-serif;
        }
        .contact-1,
        .contact-2 {
          p {
            font-size: $fs-10;
          }
        }
      }
    }
  }

  //contact page responsive page style rule
  .contact-container {
    .message {
      display: none;
    }

    .form {
      h1,
      p {
        font-size: $fs-4;
      }
    }
  }

  //register page responsive style rule
  .register {
    .form-container {
      .box-1 {
        h1 {
          font-size: $fs-9;
        }
        small {
          height: 25px;
          border-bottom: 2px dashed $white;
        }
        .form-inputs-container {
          .inputs-container {
            flex-direction: column;
            .input-container {
              .input {
                width: 100%;
                margin: 0 5%;
              }
            }
          }
          .special {
            flex-direction: row;
            width: 100%;
            .input-container {
              width: 50%;
              .input {
                width: 85%;
              }
            }
          }
        }
      }
    }
  }
}
