@import "./App.scss";

@mixin text-colored {
  color: $main-purple;
}

@mixin button-color {
  background: $button-gradient;
  color: $white;
}

@mixin gradient-util {
  background-image: $button-gradient;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
